<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>My Business Growth</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="" rel="apple-touch-icon">

 


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

 
  <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">My Business Growth</a></h1>
      

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link   scrollto" href="#">Reports</a></li>
   
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#pricing">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Supercharge Your Business with My Business Grow</h1>
          <h2>Unlock the Power of Software Solutions for Business Growth.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#pricing" class="btn-get-started scrollto">Get Started</a>
           
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/assets/img/banner-thumb-4.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>
  
  <!-- End Hero -->

  <main id="main">

    
    <!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row content  d-flex justify-content-center">
          <div class="col-7">
            <p style="font-size: large;">
              Welcome to My Business Grow, the all-in-one software solution designed to 
              streamline your business operations and fuel growth. Whether you're a small 
              startup or an established enterprise, My Business Grow has the tools you need to 
              thrive in today's competitive market.
            </p>
   
          </div>
        
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3>why us <br><strong>our value propositions towards your needs</strong></h3>
              <p>
                Cultivating Success Together: Our Unparalleled Value Propositions - Innovative Solutions, Tailored Excellence, Collaborative Partnerships, and End-to-End Commitment
              </p>
            </div>

            <div class="accordion-list">
              <ul>
                <li>
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span>Innovation at its Core: <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                      We embrace the latest technologies and industry best practices to deliver innovative solutions that keep your business ahead of the curve. Our commitment to constant learning and improvement ensures your projects are handled with cutting-edge expertise.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Efficiency at Your Fingertips:<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Optimize your workflow and increase productivity
with our user-friendly interface and powerful features.
                    </p>
                  </div>
                </li>

                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Tailored Solutions, Tangible Results: <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      We understand that each business is unique, which is why we take a personalized approach to meet your specific needs. Our team designs and develops solutions that directly address your challenges, resulting in measurable, tangible outcomes for your success. 
                    </p>
                  </div>
                </li>
                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed"><span>04</span> Collaborative Partnership: <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      At better level group, we value collaborative partnerships with our clients. From the initial concept to the final deployment, we work hand-in-hand with you, ensuring transparent communication, mutual understanding, and a shared commitment to achieving your business objectives.
                    </p>
                  </div>
                </li>
                <li>
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed"><span>05</span> End-to-End Excellence: <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Our comprehensive services cover the entire lifecycle of your project, from ideation and development to ongoing maintenance and support. With our end-to-end approach, you can trust us to handle all aspects of your IT solutions, allowing you to focus on your core business goals.
                    </p>
                  </div>
                </li>

              </ul>
            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("/assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="/assets/img/dead.gif" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>Our Morals and Principals</h3>
            <p class="fst-italic">
              At better level group, we hold our Morals and Principles close to heart. These guiding values define who we are as an organization and serve as the bedrock of our business philosophy. Our commitment to these core beliefs is what sets us apart and drives every aspect of our operations.
            </p>

            <div class="skills-content">

              <div class="progress">
                <span class="skill">Meeting Deadline <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Integrity<i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Responsibility <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Excellence and Customer Care <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill">Cost effective <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4>Web Development</h4>
              <p>Craft interactive and user-friendly websites with our expert web development services. From engaging user interfaces to robust back-end functionality, we bring your ideas to life and create impactful digital experiences.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class='bx bx-mobile'></i></div>
              <h4>Mobile App Development</h4>
              <p>Reach your customers on the go with our mobile app development expertise. We design and develop high-performance, intuitive mobile applications for both iOS and Android platforms, providing seamless user experiences.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4> Software Development</h4>
              <p>Transform your vision into reality with our custom software development services. Our team of skilled developers builds scalable, efficient, and secure software solutions tailored to meet your specific business needs.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4>IT Consultation</h4>
              <p>Leverage our comprehensive IT consultation services to optimize your business processes and technology infrastructure. Our experts offer strategic insights, identify opportunities for improvement, and implement solutions to enhance your overall efficiency and growth.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->





    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          
        </div>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Basic Plan</h3>
              <h4><sup>Rwf</sup> 50, 000 <sup style="font-size: large;">one-time-fee</sup><span>+ 15,000 rwf per month</span></h4>
              <span style="color: black;">Perfect for individuals and small businesses looking to get started with essential
                platforms and online presence.</span>
              <ul>
                <li><i class="bx bx-check"></i> the following package apply as long as you keep paying monthly subscription</li>
                <li><i class="bx bx-check"></i>1 website design</li>
                <li><i class="bx bx-check"></i>1 website development</li>
                <li><i class="bx bx-check"></i>1 domain for the whole year</li>
                <li><i class="bx bx-check"></i>hosting for the whole year</li>
                <li><i class="bx bx-check"></i>SEO optimized</li>
                <li><i class="bx bx-check"></i>free maintenance</li>
                <li><i class="bx bx-check"></i>simple dashboard (for registered users and changing content on your website)</li>
                
                
              </ul>
              <a href="#" class="buy-btn"  data-bs-toggle="modal" data-bs-target="#exampleModal">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Pro Plan</h3>
              <h4><sup>Rwf</sup>100,000 <sup style="font-size: large;">one-time-fee</sup><span>+ 15,000 rwf per month</span></h4><span style="color: black;">Ideal for growing businesses seeking advanced capabilities to scale their
                operations.</span>
              <ul>
                <li><i class="bx bx-check"></i> everything in basic plan</li>
                <li><i class="bx bx-check"></i>1 Mobile app development (+100$/year for appstore and 25$ for google playstore account)</li>
                <li><i class="bx bx-check"></i> improved dashboard</li>
                <li><i class="bx bx-check"></i> business listing on business directories</li>
                <li><i class="bx bx-check"></i> google business account</li>
                <li><i class="bx bx-check"></i> website analytics dashboard</li>
                <li><i class="bx bx-check"></i> ecommerce platforms</li>
                <li><i class="bx bx-check"></i> online payment intergrations</li>
                <li><i class="bx bx-check"></i> Access to core features, including CRM, project management, and data
                  analytics.</li>
                  <li class="na"><i class="bx bx-x"></i> <span>Both mobile app and website</span></li>
                
              </ul>
              <a href="#" class="buy-btn"  data-bs-toggle="modal" data-bs-target="#exampleModal1">Get Started</a>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Premium Plan</h3>
              <h4><sup></sup>Customized Pricing<span></span></h4>
              <ul>
                <li><i class="bx bx-check"></i> everything in basic </li>
                <li><i class="bx bx-check"></i> everything in pro plan/li>
                <li><i class="bx bx-check"></i> Both mobile app and website</li>
                <li><i class="bx bx-check"></i> complex and sytems tailored to your needs</li>
                <li><i class="bx bx-check"></i> Iot solutions</li>
                
              </ul>
              <a href="#" class="buy-btn"  data-bs-toggle="modal" data-bs-target="#exampleModal2">schedule</a>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Pricing Section -->

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
          <div class="container" data-aos="zoom-in">
    
            <div class="row">
              <div class="col-lg-9 text-center text-lg-start">
                <h3>Schedule a call</h3>
                <p> Join thousands of businesses that have already transformed their operations with
                  My Business Grow. Take the first step towards success by signing up for a demo
                  today!</p>
              </div>
              <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">schedule</a>
              </div>
            </div>
    
            <!-- Button trigger modal -->
    
          </div>
        </section><!-- End Cta Section -->

    <!-- Modal -->
    <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">basic plan subscription</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"> 
            <form action="" method="post">
              <div class="form-group">
                <label for="fullname">Full Name:</label>
                <input type="text" class="form-control" id="fullname" name="Full_name" required>
              </div>
              <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" class="form-control" id="phone" name="phone_number" required>
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-----------------2nd modal--------------------------->
    
    <div class="modal fade " id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">pro plan subscription</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"> 
            <form action="/form1" method="post">
              <div class="form-group">
                <label for="fullname">Full Name:</label>
                <input type="text" class="form-control" id="fullname" name="Full_name" required>
              </div>
              <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" class="form-control" id="phone" name="phone_number" required>
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">premium plan subscription</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body"> 
            <form action="/form2" method="post">
              <div class="form-group">
                <label for="fullname">Full Name:</label>
                <input type="text" class="form-control" id="fullname" name="Full_name" required>
              </div>
              <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" class="form-control" id="phone" name="phone_number" required>
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <button type="submit" class="btn btn-primary ">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

<!--end of modal-->



    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What are the pricing options for accessing your software packages? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  We offer an affordable pricing models for accessing our software packages. You have to pay a one-time fee to get lifetime access to the package and the start of your project  a monthly subscription for the accessing all the features in the packages the monthly subscriptions starts once your projects is done and online.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How much does it cost to develop an app for iOS and Android platforms? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The pricing for app development varies based on the platform. the package is the pro plan in addition for iOS apps,  there yearly fee of $100 for listing the app on the App Store. For Android apps, the one-time fee is $25 for listing the app on the Google Play Store.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What does the maintenance cost include? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Maintenance is completely free as long as you have an active monthly subscription. It covers software updates, bug fixes, and technical support to ensure you have a smooth experience with our packages.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed"> Will the price of website storage increase with higher traffic or storage requirements? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Yes, the pricing for website storage may vary depending on the amount of traffic your website receives and the storage space it requires. If your website attracts higher traffic or needs additional storage, we will work with you to find the most suitable and cost-effective solution.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="500">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Can I upgrade my subscription plan or switch from a one-time payment to a monthly subscription later? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Absolutely! We understand that your needs may change over time. You can easily upgrade your subscription
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>KN5Av KN5Av, Kigali</p>
              </div>

              <div class="">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>betterlevelgroup@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+250 781 065 367</p>
              </div>
              
              <iframe src="https://maps.google.com/maps?q=better level group&t=&z=14&ie=UTF8&iwloc=&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/contact" method="post" role="form" class="email">
              <div class="row" >
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
           
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>To receive new updates and reports about industries</p>
            <form action="/form3" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Better level group</h3>
            <p>
              KN5Av KN5Av,  <br>
              Kigali<br>
              Rwanda <br><br>
              <strong>Phone:</strong>+250 781 065 367<br>
              <strong>Email:</strong> betterlevelgroup@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4></h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#hero">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Mobile app Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">software development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">IT Consultation</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>follow us on our social networks</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>